{% load static %}
<header class="header">
  <div class="container">
    <div class="header-content">
      <a href="{% url 'homepage:index' %}" class="logo">
        <img src="{% static 'img/icon/logotype.ico' %}" class="icon" />
        <p href="{% url 'homepage:index' %}" class="logo-text">SafeSurf</p>
      </a>
      {% with request.resolver_match.view_name as view_name %}
      <nav class="main-nav">
        <a
          href="{% url 'homepage:index' %}"
          class="fnt nav-link {% if view_name == 'homepage:index' %}active{% endif %}"
          >Главная</a
        >
        <div class="menu-container">
          <button class="fnt menu-toggle" id="menu-toggle">Меню</button>
          <div class="menu-panel" id="menu-panel">
            <nav class="menu-links">
              <a href="{% url 'menu:generate_password' %}" class="fnt menu-link"
                >Генератор паролей</a
              >
              <a href="{% url 'menu:social_security' %}" class="fnt menu-link">Безопасность в соцсетях</a>
              <a href="{% url 'menu:scummers' %}" class="fnt menu-link">Защита от мошенников</a>
              <a href="{% url 'menu:viruses' %}" class="fnt menu-link">Защита от вирусов</a>
            </nav>
          </div>
        </div>
      </nav>
      {% endwith %}
    </div>
  </div>
</header>