{% extends 'base.html' %}
{% load static %}
{% block title %}Защита от вирусов{% endblock %}

{% block content %}
<section class="antivirus-section">
  <div class="decoration circle-1"></div>
  <div class="decoration circle-2"></div>
  
  <div class="container">
    <div class="antivirus-hero">
      <h1>Защита от вирусов</h1>
      <p class="antivirus-subtitle">Как избежать вирусов и защитить свои устройства от вредоносных программ</p>
    </div>
    
    <div class="antivirus-container">
      <div class="antivirus-info">
        <div class="antivirus-card">
          <h3 class="card-title">Основные правила защиты</h3>
          <ul class="antivirus-list">
            <li class="antivirus-item">Не качай файлы с подозрительных сайтов</li>
            <li class="antivirus-item">Проверяй расширения файлов (.exe — опасно!)</li>
            <li class="antivirus-item">Не отключай антивирус «для ускорения ПК»</li>
            <li class="antivirus-item">Не подключай чужие флешки (в них могут быть заражённые файлы)</li>
            <li class="antivirus-item">Регулярно обновляй операционную систему и программы</li>
            <li class="antivirus-item">Используй разные пароли для важных сервисов</li>
          </ul>
        </div>
        <img class="viruses-card-image" src="{% static 'img/viruses.svg' %}">
        <div class="antivirus-card">
          <div class="antivirus-links">
            <h3 class="card-title">Рекомендуемые антивирусы</h3>
            <ul>
                <li><a href="https://support.avast.com/ru-ru/#pc1" target="_blank" class="antivirus-link">Avast Antivirus</a></li>
                <li><a href="https://www.kaspersky.ru/free-antivirus" target="_blank" class="antivirus-link">Kaspersky Free</a></li>
                <li><a href="https://www.esetnod32.ru/download/home/commercial/" target="_blank" class="antivirus-link">ESET NOD32</a></li>
            </ul>
            
          </div>
        </div>
      </div>
      <div class="course-navigation">
        <a href="{% url 'homepage:index' %}" class="button prev-btn">← На главную</a>
        <a href="{% url 'menu:scummers' %}" class="button next-btn">Далее →</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}