{% load static %}
<header class="header">
  <div class="container">
    <div class="header-content">
      <a href="{% url 'homepage:index' %}" class="logo">
        <img src="{% static 'img/icon/logotype.ico' %}" class="icon" />
        <p href="{% url 'homepage:index' %}" class="logo-text">SafeSurf</p>
      </a>
      {% with request.resolver_match.view_name as view_name %}
      <nav class="main-nav">
        <div class="menu-container">
          <button class="fnt menu-toggle" id="menu-toggle">☰</button>
          <div class="menu-panel" id="menu-panel">
            <nav class="menu-links">
              <a href="http://127.0.0.1:8000/" class="fnt menu-link">Главная</a>
              <a href="{% url 'menu:viruses' %}" class="fnt menu-link">Защита от вирусов</a>
              <a href="{% url 'menu:scummers' %}" class="fnt menu-link">Защита от мошенников</a>
              <a href="{% url 'menu:social_security' %}" class="fnt menu-link">Безопасность в соцсетях</a>
              <a href="{% url 'menu:generate_password' %}" class="fnt menu-link"
                >Генератор паролей</a>
            </nav>
          </div>
        </div>
      </nav>
      {% endwith %}
    </div>
  </div>
</header>